p>Hello,</p>
<p>Someone requested a password reset for the email associated with this address. If you didn't make this request, you can safely ignore this email.</p>
<p>To reset your password, click on the link below:</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>
<p>If the link above doesn't work, copy and paste the URL into your browser's address bar.</p>
<p>This link will expire in {{ timeout }} hours.</p>
<p>Thanks,</p>
<p>Your {{ site_name }} team</p>