<section class="password-reset-section">
    <h4 class="password-reset-title">Reset Your Password</h4>
    <form method="post">
        {% csrf_token %}
        {{ password_reset_form.email.label_tag }} {{ password_reset_form.email }}
        <button type="submit">Reset Password</button>
    </form>
    <div class="messages">
        {% if messages %}
            {% for message in messages %}
                <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
</section>